.single-video .video-thumbnail img {width: 100%;height: 260px;}

.video_page {padding: 60px 0;}

.single-video {
    position: relative;
    margin-bottom: 40px;
}
.single-video-page {
    padding: 60px 0;
    background: #E4E4E4;
}
.video-content {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background: rgba(43, 175, 72, 0.71);
    padding: 15px 0;
}

.video-content h4 {font-size: 16px;color: #fff;}
.videoPlayButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    color: #2BAF48;
    padding: 0px;
    border-radius: 50px;
}
.videoPlayButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    border-radius: 50px;
    font-size: 50px;
    background: #2BAF48;
    line-height: 1px;
}

.single_video_item {display: flex;margin: 40px 0;background: #fff;padding: 0 0;}

.relatedVideos {margin-top: 50px;}

.video_content {text-align: left;padding: 10px 20px;}
.video_content h3 a {
    color: #fff;
}
.the_video {
    border: 25px solid #fff;
}
.video_image img {height: 185px;width: 100%;}

.video_image {flex-basis: 33%;}