.carousel-container {background: #3baf48;padding: 50px 0;}

.slider-content {text-align: left;color: #fff;}

.slider-content h3 {
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #fff;
}



.slider-image img {height: 335px;filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
border-radius: 5px;}

.carousel-container .row > div {align-items: center;display: flex;justify-content: center;}
.slider-image img {
    min-height: 100%;
    min-width: 100%;
    transition: all .4s ease-out;
}
.slider-image img:hover {
    opacity: 1;
}

.carousel-control-next-icon , .carousel-control-prev-icon{
    transform: scale(2.5);
}

.caoursel-container > div {
    display: flex;
    align-items: center;
}
.caoursel-container img {
    height: 250px;
    min-width: 100%;
    max-width: 100%;
    border: 15px solid #fff;
}
.videoCarouselArrow {
    cursor: pointer;
    font-size: 30px;
    color: #3baf48;
    font-weight: 700;
}
.caoursel-container .styles-module_item-provider__YgMwz {
    margin: 0px;
}
.newsCarousel .caoursel-container .styles-module_item-provider__YgMwz {
    margin: 0 10px;
}