@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap');
@import url('https://use.fontawesome.com/releases/v5.7.0/css/all.css');
@import '../node_modules/antd/dist/antd.css';

/* TYPOGRAPHY */
body {
  font-family: 'Roboto', sans-serif;
  background: #E4E4E4;
}

img {
  max-width: 100%;
}
a {
  color: #000;
  text-decoration: none !important;
}

.App {
  text-align: center;
}
input:focus {
  border: none;
  outline: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
p {font-size: 14px;}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.page {
  background: #E4E4E4;
}